<mat-grid-list cols="2">
  <mat-grid-tile>
    <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoZCm3gBk-BndSSQFjxXqCnjfFCS-itYkiCp0XExnppdgxkQAtg">
          <mat-card-title>Hello!</mat-card-title>
          <mat-card-subtitle>Hello Again</mat-card-subtitle>
        </mat-card-header>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUALeXx2hiqqMpuhu55653lYZCw8QWP4gq4M6f_Um3Y-E1xdkf">
      </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoZCm3gBk-BndSSQFjxXqCnjfFCS-itYkiCp0XExnppdgxkQAtg">
        <mat-card-title>Hello!</mat-card-title>
        <mat-card-subtitle>Hello Again</mat-card-subtitle>
      </mat-card-header>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToFZfbdnLqUsfi5KfhZV52x_Km9mBcgZPrpo3BEvsVlIM3wfCC">
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
      <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoZCm3gBk-BndSSQFjxXqCnjfFCS-itYkiCp0XExnppdgxkQAtg">
            <mat-card-title>Hello!</mat-card-title>
            <mat-card-subtitle>Hello Again</mat-card-subtitle>
          </mat-card-header>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUALeXx2hiqqMpuhu55653lYZCw8QWP4gq4M6f_Um3Y-E1xdkf">
        </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqoZCm3gBk-BndSSQFjxXqCnjfFCS-itYkiCp0XExnppdgxkQAtg">
          <mat-card-title>Hello!</mat-card-title>
          <mat-card-subtitle>Hello Again</mat-card-subtitle>
        </mat-card-header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToFZfbdnLqUsfi5KfhZV52x_Km9mBcgZPrpo3BEvsVlIM3wfCC">
      </mat-card>
    </mat-grid-tile>
</mat-grid-list>